.menu
  position: fixed
  top: 0
  left: 0
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  margin: 0
  z-index: 5
  transition: $bezier
  &-info
    width: 50%
    display: flex
    justify-content: space-between
    @media (max-width: 1200px)
      justify-content: flex-end
  &-show
    position: relative
    display: flex
    flex-direction: column
  &-number
    @media (max-width: 600px)
      font-size: 13px
.menu-show-btn
  display: flex
  align-items: center
  position: relative
.menu-show__txt
  transition: $bezier
  &.fade
    opacity: 0

.menu-wrap
  display: flex
  flex-direction: column
  position: fixed
  align-items: center
  justify-content: center
  left: -15px
  top: 0
  height: 100vh
  background-color: #f9efed
  width: 260px
  z-index: 10
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.65)
.menu-overlay
  position: fixed
  z-index: -1
  left: 0
  top: 0
  height: 100%
  width: 100%

  background-color: rgba(0, 0, 0, 0.5)
  @media (min-width: 480px)
    display: none
.menu__item
  background: transparent
  border: none
  padding: 8px 0
  margin: 3px 0
  cursor: pointer
  transition: $bezier
  border-right: 4px solid transparent
  width: 100%
  &:hover
  &.active
    border-right: 4px solid $accent

.menu-sectname
  position: relative
  padding-left: 10px
  @media (max-width: 1200px)
    display: none
  &:before
    content: ''
    width: 6px
    height: 6px
    background-color: $accent
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    border-radius: 50%


.menu-show-burger
  width: 40px
  height: 20px
  display: flex
  align-items: center
  justify-content: center
  position: relative
  cursor: pointer
  span
    height: 3px
    width: 30px
    background-color: $accent
  &:before,
  &:after
    content: ''
    position: absolute
    width: 30px
    height: 3px
    top: 0
    background-color: $accent
  &:after
    top: inherit
    bottom: 0


.btn__popup
  background-color: $accent
  height: 60px
  padding: 0 80px
  color: #fff
  font-size: 12px
  border-radius: 50px
  border: none
  cursor: pointer